# user_item_m (1차 추천점수)

In [6]:
#파일 불러오기

import pandas as pd
import numpy as np

exercise_level = pd.read_csv('./exercise_level.csv')
exercise_level.head()

ob_level = pd.read_csv('./ObesityDataSet_level.csv')
ob_level.head()

   Weight  CAEC   Age  FAVC  Height  level
0    64.0     2  21.0     0    1.62      2
1    56.0     2  21.0     0    1.52      2
2    77.0     2  23.0     0    1.80      2
3    87.0     2  27.0     0    1.80      3
4    89.8     2  22.0     0    1.78      3

In [7]:
# ob_level데이터에 user_id 생성
ob_level['user_id'] = ob_level.index + 1
ob_level.head()

   Weight  CAEC   Age  FAVC  Height  level  user_id
0    64.0     2  21.0     0    1.62      2        1
1    56.0     2  21.0     0    1.52      2        2
2    77.0     2  23.0     0    1.80      2        3
3    87.0     2  27.0     0    1.80      3        4
4    89.8     2  22.0     0    1.78      3        5

In [8]:
# excersize_level데이터에 exercise_id 생성
exercise_level['exercise_id'] = exercise_level.index + 1
exercise_level.head()

                              exercise  Calories per kg  level  exercise_id
0          Cycling, mountain bike, bmx         1.750730      3            1
1  Cycling, <10 mph, leisure bicycling         0.823236      1            2
2             Cycling, >20 mph, racing         3.294974      4            3
3          Cycling, 10-11.9 mph, light         1.234853      3            4
4       Cycling, 12-13.9 mph, moderate         1.647825      3            5

비만 레벨과 운동레벨 간의 차이를 이용하여 1차 추천점수를 계산하고자 함

In [9]:

# 가정: user_data와 exercise_data는 이미 정의된 데이터프레임
# user_data: ['UserID', 'Weight', 'CAEC', 'Age', 'FAVC', 'Height', 'level']
# exercise_data: ['ExerciseID', 'Calories_per_kg', 'level']

# 사용자 수와 운동 종류 수에 따른 0으로 채워진 행렬 생성
user_item_matrix = pd.DataFrame(np.zeros((ob_level.shape[0], exercise_level.shape[0])), 
                                index=ob_level['user_id'], 
                                columns=exercise_level['exercise_id'])

for i, user_row in ob_level.iterrows():
    for j, exercise_row in exercise_level.iterrows():
        # 비만 레벨과 운동 레벨 간의 차이에 기반한 점수 계산
        score = 4 - abs(user_row['level'] - exercise_row['level'])
        # 해당 사용자-운동 쌍에 점수 할당
        user_item_matrix.loc[user_row['user_id'], exercise_row['exercise_id']] = score

print(user_item_matrix)

exercise_id  1    2    3    4    5    6    7    8    9    10   ...  239  240
user_id                                                        ...
1            3.0  3.0  2.0  3.0  3.0  4.0  4.0  3.0  3.0  3.0  ...  3.0  3.0  \
2            3.0  3.0  2.0  3.0  3.0  4.0  4.0  3.0  3.0  3.0  ...  3.0  3.0
3            3.0  3.0  2.0  3.0  3.0  4.0  4.0  3.0  3.0  3.0  ...  3.0  3.0
4            4.0  2.0  3.0  4.0  4.0  3.0  3.0  2.0  2.0  4.0  ...  2.0  2.0
5            4.0  2.0  3.0  4.0  4.0  3.0  3.0  2.0  2.0  4.0  ...  2.0  2.0
...          ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2107         3.0  1.0  4.0  3.0  3.0  2.0  2.0  1.0  1.0  3.0  ...  1.0  1.0
2108         3.0  1.0  4.0  3.0  3.0  2.0  2.0  1.0  1.0  3.0  ...  1.0  1.0
2109         3.0  1.0  4.0  3.0  3.0  2.0  2.0  1.0  1.0  3.0  ...  1.0  1.0
2110         3.0  1.0  4.0  3.0  3.0  2.0  2.0  1.0  1.0  3.0  ...  1.0  1.0
2111         3.0  1.0  4.0  3.0  3.0  2.0  2.0  1.0  1.0  3.0  ...  1.0  1.0

exercise_id  241  242  243  244  245  246  247  248
user_id
1            3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
2            3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
3            3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
4            2.0  4.0  4.0  2.0  2.0  2.0  2.0  2.0
5            2.0  4.0  4.0  2.0  2.0  2.0  2.0  2.0
...          ...  ...  ...  ...  ...  ...  ...  ...
2107         1.0  3.0  3.0  1.0  1.0  1.0  1.0  1.0
2108         1.0  3.0  3.0  1.0  1.0  1.0  1.0  1.0
2109         1.0  3.0  3.0  1.0  1.0  1.0  1.0  1.0
2110         1.0  3.0  3.0  1.0  1.0  1.0  1.0  1.0
2111         1.0  3.0  3.0  1.0  1.0  1.0  1.0  1.0

[2111 rows x 248 columns]

In [5]:
# item_user_matrix

    Weight  CAEC   Age  FAVC  Height  level  user_id
0     64.0     2  21.0     0    1.62      1        1
1     56.0     2  21.0     0    1.52      1        2
2     77.0     2  23.0     0    1.80      1        3
3     87.0     2  27.0     0    1.80      2        4
4     89.8     2  22.0     0    1.78      2        5
..     ...   ...   ...   ...     ...    ...      ...
95    70.0     1  26.0     0    1.70      1       96
96    60.0     2  23.0     0    1.66      1       97
97    42.0     1  21.0     0    1.52      0       98
98    42.0     1  21.0     0    1.52      0       99
99    70.0     2  23.0     0    1.72      1      100

[100 rows x 7 columns]